/***********************************************************
******    General
************************************************************
******/
body {
    background-color: #d1b66d;
}

/* Main page title */
h1 {
    font-family: sans-serif;
    font-size: 36px;
    color: #1986fa;
    font-weight: normal;
}

/* Title of the subpage */
h2 {
    font-family: sans-serif;
    font-size: 24px;
    color: #1986fa;
    font-weight: bold;
}

/* Title of articles */
h3 {
    font-family: sans-serif;
    font-size: 18px;
    color: #1986fa;
    font-weight: bold;
}

/* Common paragraph */
p {
    font-family: sans-serif;
    font-size: 14px;
    color: #1986fa;
    font-weight: normal;
}

/* Lesser important common paragraph */
p2 {
    font-family: sans-serif;
    font-size: 10px;
    color: #1986fa;
    font-weight: normal;
}

/***********************************************************
******    Header / Footer
************************************************************
******/

.header_top_section {
    display: block;
}

.header_logo {
    float: left;
    top: 0;
    left: 0;
    margin: 3px;
    
}

.header_title {
    position: relative;
    margin: 5px;
}

ul.header_menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1986fa;
    border-radius: 10px;
}

li.header_menu {
    float: left;
}

li[class="header_menu"] a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 10px;
}

li[class="header_menu"] a:hover {
    background-color: #0042b6;
    border-radius: 10px;
}

#header_login_button {
    float: right;
    background-color: #4286f4;
    border: none;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 8px;
    position: absolute;
    top: 0;
    right: 0;
}

#header_login_button:hover {
    background-color: #0042b6;
    border: 1px solid black;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.footer {
    width: 100%;
    display: block;
}

/***********************************************************
******    Home
************************************************************
******/
/*Entire home page*/
.home_wrapper{
    display: inline-block;
}

/*Only the left section*/
.home_maincontent{
    width: 75%;
    float: left;
    padding: 10px;
    border-radius: 10px;
    
    background-color: #ffe9aa;
    box-shadow: -1px -1px 10px 2px #1986fa;
}

.home_header {
    padding-left: 5px;
    margin-left: 5px;
}

/*One highlight option (includes the picture, title, date, and content*/
.highlight_container {
    padding: 5px;
    margin: 5px;
    display: inline-block;
    background-color: #fffabe;
}

.highlight_picture {
    height: 100px;
    float: left;
    margin-right: 5px;
}

/*Includes title, date, and content*/
.highlight_text{
    display: inline;
    width: 85%;
}

/*Both the title and date*/
.highlight_topline {
    
}

.highlight_title {
    
}

.highlight_date {
    
}

.highlight_content {
    width: 80%;
    float: right;
    padding: 5px;
    margin-top: 5px;
}

/*Only the right section*/
.home_rightside{
    width: 20%;
    height: inherit;
    float: right;
    padding: 5px;
    background-color: #ffe9aa;
}

/***********************************************************
******    About us
************************************************************
******/
/* Three columns side by side */
.column {
    float: left;
    width: 18%;
    margin-bottom: 16px;
    padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

/* Add some shadows to create a card effect */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.about_container {
    padding: 0 16px;
}

/* Clear floats */
.about_container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

/* This is the title of person */
.title {
    color: #414347;
}
/***********************************************************
******    Events
************************************************************
******/

/***********************************************************
******    How to help
************************************************************
******/


/***********************************************************
******    Contact us
************************************************************
******/

/* Style inputs with type="text", select elements and textareas */
select, textarea {
    width: 50%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
}

.left {
    margin-bottom: 5px;
    width: 35%;
    float: left;
    text-align: right;
}
.right {
    margin-bottom: 5px;
    width: 50%;
    margin-left: 10px;
    float:left;
}

/* Style the submit button with a specific background color etc */
#contact_us_submit {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
#contact_us_submit:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.contact_us_container {
    width: 50%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}