.header_logo {
    float: left;
    top: 0;
    left: 0;
    
}

.header_title {
    position: relative;
    color: #1986fa;
    font-size: 33px;
}

ul.header_menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1986fa;
}

li.header_menu {
    float: left;
}

li[class="header_menu"] a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li[class="header_menu"] a:hover {
    background-color: #111;
}

#header_login_button {
    background-color: #4286f4;
    border: none;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 8px;
    position: absolute;
    top: 0;
    right: 0;
}

#header_login_button:hover {
    background-color: transparent;
    border: 1px solid black;
    color: black;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 2px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}