<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="Style_Sheets/stylesheet.css">

</head>

<body>
    <br/>
    <br/>
        <div class="header_top_section">
            <img class="header_logo" src="Images_Folder/CHVVM_Logo.png" />
            <h1 class="header_title">Cercle des Handicapés Visuels Ville-Marie</h1>

            <form class="header_login_button" action="login.php">
                <input id="header_login_button" type="submit" text="Login">
            </form>
        </div>
        <br/>

        <ul class="header_menu">
            <li class="header_menu"><a href="index.html">Accueuil</a></li>
            <li class="header_menu"><a href="about.html">Qui sommes-nous</a></li>
            <li class="header_menu"><a href="events.html">Évènements</a></li>
            <li class="header_menu"><a href="how_to_help.html">Bénévolat</a></li>
            <li class="header_menu"><a href="contact_us.html">Nous contacter</a></li>
        </ul>

</body>

</html>
